

    {% extends 'plantilla.html' %}

    {% block body %}

    <div class="container-fluid mt-4 mb-4">
        <div class="row justify-content-between">
            <div class="col-md-3">
                <div class="card border-2 rounded-4">
                    <div class="card-body text-center">
                        <h2 class="card-title">Perfil del Paciente</h2>
                        <img src="{{ url_for('static', filename='imagenes/foto_perfil.png') }}" alt="Foto de perfil" class="rounded-circle mb-3" style="width: 60px; height: 60px;">
                        {% if paciente_info %}
                            <p class="mb-1"><strong>{{ paciente_info['nombre'] }}</strong></p>
                            <p class="mb-0">Folio: {{ paciente_info['id'] }}</p>
                        {% else %}
                            <p class="mb-1">No cargó nombre del paciente</p>
                            <p class="mb-0">Folio: XXXXXX</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="text-center">
                    <img src="{{ url_for('static', filename='imagenes/logo.png') }}" alt="Logo" class="img-fluid" style="max-height: 150px;">
                </div>
            </div>
        </div>
    </div>

                        {%with mensajes =  get_flashed_messages()%}
                            {% if mensajes%}
                                {% for msj in mensajes%}
                                    <div class="alert alert-info">{{msj}}</div>
                                {%endfor%}
                            {% endif %}
                        {%endwith%}

    
    <form action="{{ url_for('GuardarR.guardarReceta') }}" method="post">

        {% if paciente_info %}
            <input type="hidden" name="id_paciente" value="{{ paciente_info.id }}">
        {% endif %}

        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card border-2 rounded-4 mb-4">
                                <div class="card-body">
                                    <h2 class="card-title text-center">Datos de la Exploración</h2>
                                    <p class="text-center mb-4">Ingresar los resultados de la exploración del paciente.</p>

                                    <div class="mb-2">
                                        <label class="form-label">Fecha</label>
                                        <input type="date" class="form-control"  name="fechaExploracion" value="{{request.form.fechaExploracion}}">

                                            {% if errores and errores.fechaExploracion %}
                                                <div class="text-danger mt-1">{{errores.fechaExploracion}}</div>
                                            {% endif %}
                                    </div>

                                    <div class="mb-2">
                                        <label class="form-label">Altura (cm)</label>
                                        <input type="number" class="form-control"  name="altura" value="{{request.form.altura}}">

                                            {% if errores and errores.altura %}
                                                <div class="text-danger mt-1">{{errores.altura}}</div>
                                            {% endif %}
                                    </div>

                                    <div class="mb-2">
                                        <label class="form-label">Ritmo Cardíaco (lpm)</label>
                                        <input type="number" class="form-control"  name="lpm"
                                        value="{{request.form.lpm}}">

                                            {% if errores and errores.lpm %}
                                                <div class="text-danger mt-1">{{errores.lpm}}</div>
                                            {% endif %}

                                    </div>

                                    <div class="mb-2">
                                        <label class="form-label">Glucosa (mg/dL)</label>
                                        <input type="number" class="form-control"  name="glucosa" value="{{request.form.glucosa}}">

                                            {% if errores and errores.glucosa %}
                                                <div class="text-danger mt-1">{{errores.glucosa}}</div>
                                            {% endif %}
                                    </div>

                                    <div class="mb-2">
                                        <label class="form-label">Peso (Kg)</label>
                                        <input type="number" step="0.1" class="form-control"  name="peso" value="{{request.form.peso}}">

                                            {% if errores and errores.peso %}
                                                <div class="text-danger mt-1">{{errores.peso}}</div>
                                            {% endif %}
                                    </div>

                                    <div class="mb-2">
                                        <label class="form-label">Temperatura (°C)</label>
                                        <input type="number" step="0.1" class="form-control"  name="temperatura" value="{{request.form.temperatura}}">

                                            {% if errores and errores.temperatura %}
                                                <div class="text-danger mt-1">{{errores.temperatura}}</div>
                                            {% endif %}
                                    </div>

                                    <div class="mb-2">
                                        <label class="form-label">Saturación de Oxígeno (%)</label>
                                        <input type="number" class="form-control"  name="saturacionOxigeno" value="{{request.form.saturacionOxigeno}}">

                                            {% if errores and errores.saturacionOxigeno %}
                                                <div class="text-danger mt-1">{{errores.saturacionOxigeno}}</div>
                                            {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card border-2 rounded-4 mb-4">
                                <div class="card-body">
                                    <h2 class="card-title text-center">Diagnóstico de Paciente</h2>
                                    <p class="text-center mb-4">Ingresar los resultados del diagnóstico</p>

                                    <div class="mb-2">
                                        <label class="form-label">Síntomas</label>
                                        <textarea name="sintomas"  class="form-control" rows="3" placeholder="Ingresar los síntomas que presenta el paciente"></textarea>

                                            {% if errores and errores.sintomas %}
                                                <div class="text-danger mt-1">{{errores.sintomas}}</div>
                                            {% endif %}

                                    </div>

                                    <div class="mb-2">
                                        <label class="form-label">Diagnóstico</label>
                                        <input type="text" class="form-control" placeholder="Ingresar el diagnóstico"  name="diagnostico" value="{{request.form.diagnostico}}">

                                            {% if errores and errores.diagnostico %}
                                                <div class="text-danger mt-1">{{errores.diagnostico}}</div>
                                            {% endif %}
                                    </div>

                                    <div class="mb-2">
                                        <label class="form-label">Receta Médica</label>
                                        <textarea name="receta"  class="form-control" rows="3" placeholder="Ingresar la receta del paciente"></textarea>

                                            {% if errores and errores.receta %}
                                                <div class="text-danger mt-1">{{errores.receta}}</div>
                                            {% endif %}
                                    </div>

                                    <div class="mb-2">
                                        <label class="form-label">Indicaciones</label>
                                        <textarea name="indicaciones"  class="form-control" rows="3" placeholder="Ingresar las indicaciones que el paciente deberá seguir"></textarea>

                                            {% if errores and errores.indicaciones %}
                                                <div class="text-danger mt-1">{{errores.indicaciones}}</div>
                                            {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container-fluid mb-4">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-dark btn-sm me-3">Limpiar</button>
                        <button type="submit" class="btn btn-dark btn-sm me-3">Registrar Diagnóstico y Exploración</button>
                        <a href="/descargar_receta/{{ paciente_info.id }}" class="btn btn-outline-dark btn-sm" {% if not paciente_info %}style="pointer-events: none; opacity: 0.5;"{% endif %}>Descargar Receta</a>
                    </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </form>

    {% endblock %}