    {% extends 'plantilla.html' %}

    {% block body %}

    <div class="container-fluid mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card border-2 rounded-4">
                    <div class="card-body">
                        <h1 class="card-title text-center border-bottom pb-3 mb-4">Expediente de Paciente</h1>
                        <h2 class="text-center mb-4">Ingresa los datos del nuevo paciente</h2>

                        <form action="{{ url_for('RegistrarP.registrarPaciente') }}" method="post">
                            <div class="mb-3">
                                <label class="form-label fw-bold">Médico que Atiende</label>
                            <!--<input type="text" class="form-control" name="medico_atiende" value="{{ request.form.medico_atiende }}">-->

                                <select name="medico_atiende">
                                    <option value="">-- Selecciona un médico --</option>
                                    {% for medico in medicos %}
                                        <option value="{{ medico.0 }}">{{ medico.2 }}</option>
                                    {% endfor %}
                                </select>
                            

                                {% if errores and errores.medico_atiende %}
                                    <p style="color: red">{{ errores.medico_atiende }}</p>
                                {% endif %}
                            </div>

                            <div class="mb-3">
                                <label class="form-label fw-bold">Nombre Completo del Paciente</label>
                                <input type="text" class="form-control" name="paciente" value="{{ request.form.paciente }}">
                                {% if errores and errores.paciente %}
                                    <p style="color: red">{{ errores.paciente }}</p>
                                {% endif %}
                            </div>

                            <div class="mb-3">
                                <label class="form-label fw-bold">Fecha de Nacimiento</label>
                                <input type="date" class="form-control" name="fecha_nacimiento" value="{{ request.form.fecha_nacimiento }}">
                                {% if errores and errores.fecha_nacimiento %}
                                    <p style="color: red">{{ errores.fecha_nacimiento }}</p>
                                {% endif %}
                            </div>

                            <div class="text-muted fst-italic mb-2">Opcional</div>
                            <div class="mb-3">
                                <label class="form-label fw-bold">Enfermedades Crónicas</label>
                                <input type="text" class="form-control" name="enfermedades_cronicas" value="{{ request.form.enfermedades_cronicas }}">
                                {% if errores and errores.enfermedades_cronicas %}
                                    <p style="color: red">{{ errores.enfermedades_cronicas }}</p>
                                {% endif %}
                            </div>

                            <div class="text-muted fst-italic mb-2">Opcional</div>
                            <div class="mb-3">
                                <label class="form-label fw-bold">Alergias</label>
                                <input type="text" class="form-control" name="alergias" value="{{ request.form.alergias }}">
                                {% if errores and errores.alergias %}
                                    <p style="color: red">{{ errores.alergias }}</p>
                                {% endif %}
                            </div>

                            <div class="text-muted fst-italic mb-2">Opcional</div>
                            <div class="mb-3">
                                <label class="form-label fw-bold">Antecedentes Familiares</label>
                                <input type="text" class="form-control" name="antecedentes" value="{{ request.form.antecedentes }}">
                                {% if errores and errores.antecedentes %}
                                    <p style="color: red">{{ errores.antecedentes }}</p>
                                {% endif %}
                            </div>

                            <hr class="my-4">
                            <div class="d-flex justify-content-between">
                                
                                <a href="{{ url_for('ConsultarP.pacientes') }}" class="btn btn-outline-dark">
                                    <i class="fas fa-arrow-left"></i> Volver a Administración
                                </a>
                                
                                <button class="btn btn-dark btn-sm" type="submit">Registrar Expediente</button>
                                
                                
                                


                            </div>
                        </form>   
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}